# Obtaining Our Data - Lab

## Introduction
In this lab you'll practice your munging and transforming skills in order to load in your data to solve a regression problem.

## Objectives
You will be able to:
* Understand the ETL process and the steps it consists of
* Understand the challenges of working with data from multiple sources

## Task Description

Your boss gives you a general description of some of the datasets at your disposal for analyzing weekly store sales. They're eventually looking for you to build a model to help determine what factors impact sales, and model future sales forecasting for business planning.  
  
Most of the properietary store data sits in the company sql database, accessible by all managers and above. The database is called **Walmart.db** Your boss provides you with the following basic schema:  

<img src='db_schema.jpg' width=500>  

She then tells you that she's put together a second dataset on general economy statistics for the various dates that she would also like you to incorporate in your analysis. That data, she says, is stored in a file **economy_data.csv**.

As a first step in creating your model for providing recommendations and projections, load and synthesize these disperate datasets into a singular unified DataFrame. Then save your results to a file **Merged_Store_Data.csv**.

Make sure you check the various data types and merge appropriately.

In [12]:
# Your code here
import pandas as pd
import sqlite3

In [16]:
con = sqlite3.connect('Walmart.db')
cur = con.cursor()
cur.execute("""select * from sales join store_details using(store);""")
df1 = pd.DataFrame(cur.fetchall())
df1.columns = [i[0] for i in cur.description]
print(df1.shape)
df1.head()

# data_wallmart = pd.read_sql('Walmart.db')

(452192, 7)

   Store  Dept        Date  Weekly_Sales IsHoliday Type    Size
0      1     1  2010-02-05      24924.50     False    A  151315
1      1     1  2010-02-12      46039.49      True    A  151315
2      1     1  2010-02-19      41595.55     False    A  151315
3      1     1  2010-02-26      19403.54     False    A  151315
4      1     1  2010-03-05      21827.90     False    A  151315

In [18]:
df2 = pd.read_csv('economy_data.csv')
print(df2.shape)
df2.head()

(8190, 12)

,Store,Date,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,IsHoliday
0,1,2010-02-05,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,False
1,1,2010-02-12,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106,True
2,1,2010-02-19,39.93,2.514,NaN,NaN,NaN,NaN,NaN,211.289143,8.106,False
3,1,2010-02-26,46.63,2.561,NaN,NaN,NaN,NaN,NaN,211.319643,8.106,False
4,1,2010-03-05,46.50,2.625,NaN,NaN,NaN,NaN,NaN,211.350143,8.106,False

In [19]:
merged= pd.merge(df1,df2)
print(merged.shape)
merged.head()

(0, 16)

Empty DataFrame
Columns: [Store, Dept, Date, Weekly_Sales, IsHoliday, Type, Size, Temperature, Fuel_Price, MarkDown1, MarkDown2, MarkDown3, MarkDown4, MarkDown5, CPI, Unemployment]
Index: []

In [21]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 452192 entries, 0 to 452191
Data columns (total 7 columns):
Store           452192 non-null int64
Dept            452192 non-null int64
Date            452192 non-null object
Weekly_Sales    452192 non-null float64
IsHoliday       452192 non-null object
Type            452192 non-null object
Size            452192 non-null int64
dtypes: float64(1), int64(3), object(3)
memory usage: 24.1+ MB

In [20]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8190 entries, 0 to 8189
Data columns (total 12 columns):
Store           8190 non-null int64
Date            8190 non-null object
Temperature     8190 non-null float64
Fuel_Price      8190 non-null float64
MarkDown1       4032 non-null float64
MarkDown2       2921 non-null float64
MarkDown3       3613 non-null float64
MarkDown4       3464 non-null float64
MarkDown5       4050 non-null float64
CPI             7605 non-null float64
Unemployment    7605 non-null float64
IsHoliday       8190 non-null bool
dtypes: bool(1), float64(9), int64(1), object(1)
memory usage: 711.9+ KB

In [23]:
common = [col for col in df1.columns if col in df2.columns]
common

['Store', 'Date', 'IsHoliday']

In [24]:
for col in common:
    ex1 = df1[col].iloc[0]
    ex2 = df2[col].iloc[0]
    print(col)
    print('Types:')
    print('df1: {}, df2: {}'.format(type(ex1),type(ex2)))
    print('\n')

Store
Types:
df1: <class 'numpy.int64'>, df2: <class 'numpy.int64'>


Date
Types:
df1: <class 'str'>, df2: <class 'str'>


IsHoliday
Types:
df1: <class 'str'>, df2: <class 'numpy.bool_'>

In [25]:
df1.IsHoliday = df1.IsHoliday.astype(bool)

In [26]:
merged = pd.merge(df1,df2)
print(merged.shape)
merged.head()

(31817, 16)

,Store,Dept,Date,Weekly_Sales,IsHoliday,Type,Size,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment
0,1,1,2010-02-12,46039.49,True,A,151315,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.24217,8.106
1,1,2,2010-02-12,44682.74,True,A,151315,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.24217,8.106
2,1,3,2010-02-12,10887.84,True,A,151315,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.24217,8.106
3,1,4,2010-02-12,35351.21,True,A,151315,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.24217,8.106
4,1,5,2010-02-12,29620.81,True,A,151315,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.24217,8.106

In [27]:
merged.to_csv('Merged_Store_Data.csv', index=False)

In [28]:
merged

,Store,Dept,Date,Weekly_Sales,IsHoliday,Type,Size,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment
0,1,1,2010-02-12,46039.49,True,A,151315,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106
1,1,2,2010-02-12,44682.74,True,A,151315,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106
2,1,3,2010-02-12,10887.84,True,A,151315,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106
3,1,4,2010-02-12,35351.21,True,A,151315,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106
4,1,5,2010-02-12,29620.81,True,A,151315,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106
5,1,6,2010-02-12,9135.00,True,A,151315,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106
6,1,7,2010-02-12,18310.31,True,A,151315,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106
7,1,8,2010-02-12,37334.83,True,A,151315,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106
8,1,9,2010-02-12,16562.49,True,A,151315,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106
9,1,10,2010-02-12,31494.77,True,A,151315,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106
10,1,11,2010-02-12,21760.75,True,A,151315,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106
11,1,12,2010-02-12,8654.07,True,A,151315,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106
12,1,13,2010-02-12,36476.40,True,A,151315,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106
13,1,14,2010-02-12,18129.02,True,A,151315,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106
14,1,16,2010-02-12,11873.89,True,A,151315,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106
15,1,17,2010-02-12,13403.66,True,A,151315,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106
16,1,18,2010-02-12,19006.50,True,A,151315,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106
17,1,19,2010-02-12,1490.79,True,A,151315,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106
18,1,20,2010-02-12,3697.70,True,A,151315,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106
19,1,21,2010-02-12,8735.83,True,A,151315,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106
20,1,22,2010-02-12,14807.95,True,A,151315,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106
21,1,23,2010-02-12,22812.41,True,A,151315,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106
22,1,24,2010-02-12,8050.24,True,A,151315,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106
23,1,25,2010-02-12,13268.75,True,A,151315,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106
24,1,26,2010-02-12,10050.92,True,A,151315,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106
25,1,27,2010-02-12,2339.50,True,A,151315,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106
26,1,28,2010-02-12,1008.36,True,A,151315,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106
27,1,29,2010-02-12,7696.61,True,A,151315,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106
28,1,30,2010-02-12,5328.50,True,A,151315,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106
29,1,31,2010-02-12,3228.96,True,A,151315,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31787,45,44,2012-09-07,2443.88,True,B,118221,75.70,3.911,11024.45,12.8,52.63,1854.77,2055.7,191.577676,8.684
31788,45,45,2012-09-07,11.94,True,B,118221,75.70,3.911,11024.45,12.8,52.63,1854.77,2055.7,191.577676,8.684
31789,45,46,2012-09-07,11690.80,True,B,118221,75.70,3.911,11024.45,12.8,52.63,1854.77,2055.7,191.577676,8.684
31790,45,47,2012-09-07,39.96,True,B,118221,75.70,3.911,11024.45,12.8,52.63,1854.77,2055.7,191.577676,8.684
31791,45,49,2012-09-07,5.00,True,B,118221,75.70,3.911,11024.45,12.8,52.63,1854.77,2055.7,191.577676,8.684
31792,45,52,2012-09-07,1016.16,True,B,118221,75.70,3.911,11024.45,12.8,52.63,1854.77,2055.7,191.577676,8.684
31793,45,55,2012-09-07,4067.42,True,B,118221,75.70,3.911,11024.45,12.8,52.63,1854.77,2055.7,191.577676,8.684
31794,45,56,2012-09-07,1068.47,True,B,118221,75.70,3.911,11024.45,12.8,52.63,1854.77,2055.7,191.577676,8.684
31795,45,58,2012-09-07,1855.00,True,B,118221,75.70,3.911,11024.45,12.8,52.63,1854.77,2055.7,191.577676,8.684
31796,45,59,2012-09-07,166.66,True,B,118221,75.70,3.911,11024.45,12.8,52.63,1854.77,2055.7,191.577676,8.684
31797,45,60,2012-09-07,252.00,True,B,118221,75.70,3.911,11024.45,12.8,52.63,1854.77,2055.7,191.577676,8.684
31798,45,67,2012-09-07,4330.95,True,B,118221,75.70,3.911,11024.45,12.8,52.63,1854.77,2055.7,191.577676,8.684
31799,45,71,2012-09-07,4323.08,True,B,118221,75.70,3.911,11024.45,12.8,52.63,1854.77,2055.7,191.577676,8.684
31800,45,72,2012-09-07,29602.05,True,B,118221,75.70,3.911,11024.45,12.8,52.63,1854.77,2055.7,191.577676,8.684
31801,45,74,2012-09-07,10646.00,True,B,118221,75.70,3.911,11024.45,12.8,52.63,1854.77,2055.7,191.577676,8.684
31802,45,79,2012-09-07,14539.56,True,B,118221,75.70,3.911,11024.45,12.8,52.63,1854.77,2055.7,191.577676,8.684
31803,45,80,2012-09-07,751.80,True,B,118221,75.70,3.911,11024.45,12.8,52.63,1854.77,2055.7,191.577676,8.684
31804,45,81,2012-09-07,15073.25,True,B,118221,75.70,3.911,11024.45,12.8,52.63,1854.77,2055.7,191.577676,8.684
31805,45,82,2012-09-07,13974.11,True,B,118221,75.70,3.911,11024.45,12.8,52.63,1854.77,2055.7,191.577676,8.684
31806,45,83,2012-09-07,637.32,True,B,118221,75.70,3.911,11024.45,12.8,52.63,1854.77,2055.7,191.577676,8.684
31807,45,85,2012-09-07,1462.10,True,B,118221,75.70,3.911,11024.45,12.8,52.63,1854.77,2055.7,191.577676,8.684
31808,45,87,2012-09-07,7381.49,True,B,118221,75.70,3.911,11024.45,12.8,52.63,1854.77,2055.7,191.577676,8.684
31809,45,90,2012-09-07,23505.91,True,B,118221,75.70,3.911,11024.45,12.8,52.63,1854.77,2055.7,191.577676,8.684
31810,45,91,2012-09-07,15375.97,True,B,118221,75.70,3.911,11024.45,12.8,52.63,1854.77,2055.7,191.577676,8.684
31811,45,92,2012-09-07,51652.12,True,B,118221,75.70,3.911,11024.45,12.8,52.63,1854.77,2055.7,191.577676,8.684
31812,45,93,2012-09-07,3607.37,True,B,118221,75.70,3.911,11024.45,12.8,52.63,1854.77,2055.7,191.577676,8.684
31813,45,94,2012-09-07,3938.63,True,B,118221,75.70,3.911,11024.45,12.8,52.63,1854.77,2055.7,191.577676,8.684
31814,45,95,2012-09-07,52417.47,True,B,118221,75.70,3.911,11024.45,12.8,52.63,1854.77,2055.7,191.577676,8.684
31815,45,97,2012-09-07,7426.19,True,B,118221,75.70,3.911,11024.45,12.8,52.63,1854.77,2055.7,191.577676,8.684
31816,45,98,2012-09-07,352.44,True,B,118221,75.70,3.911,11024.45,12.8,52.63,1854.77,2055.7,191.577676,8.684

## Summary
Nice work! You're working more and more independently through the workflow, and ensuring data integrity!